.row{
    margin-left: 20px;
    color: #fff;
}

.posters{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y:hidden ;
}

/* to undisplay scrollbar */
.posters::-webkit-scrollbar{
    display: none;
}


.poster{
    cursor:pointer;
    max-height: 250px;
    margin-right: 10px;

}

.smallPoster{
    cursor:pointer;
    max-height: 150px;
    margin-right: 10px;

}

.poster:hover{
    transform: scale(1.2);
    border-radius: 5px;
}
.smallPoster:hover{
    transform: scale(1.1);
     border-radius: 5px;
}

.youtube-overlay {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10; 
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: white;
  font-size: 30px;
  z-index: 100; 
}



